<% layout('layout/page') -%>

<div class="container-fluid">
    <div class="row justify-content-center p-5">
        <div class="col-12 js-video-container"
            data-token="<%= token %>"
            data-room-id="<%= roomId %>"
        >
        </div>
        <div class="col-12 js-chat-container">
        </div>
        <div class="col-6">
            <div class="input-group mb-3 js-copy-block">
                <label for="inviteLink" class="visually-hidden">Invitation link:</label>
                <input type="text" id="inviteLink" readonly class="form-control js-copy-content" aria-describedby="button-addon2" value="<%= inviteLink%>">
                    <button class="btn btn-info js-copy-button" type="button" id="button-addon2">Copy</button>
            </div>
        </div>
    </div>
</div>