<% layout('layout/page') -%>

<div class="container-fluid">
    <div class="row justify-content-center p-5">
        <div class="col-12 js-video-container"
            data-token="<%= token %>"
            data-room-id="<%= roomId %>"
        >
        </div>
        <div class="col-12 js-chat-container">
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    Invitation link:
                </div>
                <div class="input-group js-copy-block">
                    <input type="text" readonly class="form-control js-invite-link js-copy-content" aria-describedby="button-addon2">
                    <button class="btn btn-info js-copy-button" type="button" id="button-addon2">Copy</button>
                </div>
            </div>
        </div>
    </div>
</div>